@import "tailwindcss";

@theme {
  --spacing-sectionX: 3.125rem;
  --spacing-sectionX-m: 1rem;

  --spacing-sectionY: 6.25rem;
  --spacing-sectionY-m: 3.125rem;

  --spacing-section: 3.125rem 6.25rem;
  --spacing-section-m: 1rem 3.125rem;
  --color-text: #002566;
  --color-background: #ffffff;
  --color-primary: #0055e3;
  /* H0 Clamp: Normally, 128px on Desktop */
  --text-h0: clamp(2.5rem, 5vw, 8rem);

  /* H1, H2 clamp, 64px on a normal desktop */
  --text-h1: clamp(1.5rem, 3vw, 4rem);
  --text-h2: clamp(1.5rem, 3vw, 4rem);

  /* H3 clamp, 32px on a normal desktop */
  --text-h3: clamp(1.25rem, 2.5vw, 2.5rem);
}

@layer base {
  /* Apply global text color */
  body {
    color: var(--color-text);
    letter-spacing: -0.02em;
  }

  /* Typography base styles */
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }

  section {
    padding: var(--spacing-section);
  }
}

@layer components {
  h1 {
    font-size: var(--text-h1);
  }

  h2 {
    font-size: var(--text-h2);
  }

  h3 {
    font-size: var(--text-h3);
  }

  .button-primary {
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: var(--color-background);
    background-color: var(--color-primary);
    font-weight: 600;
  }
  .button-secondary {
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: var(--color-primary);
    background-color: var(--color-background);
    font-weight: 600;
  }
}